@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
	font-family: "Alan Sans", sans-serif;
	background-color: aquamarine;
}

.flex-container{
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

#title{
	width: 300px;
}

#search{
	display: block;
	align-content: space-around;
	padding-left: 50vw;
}

main{
	background-color: white;
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 15px;
}

footer{
	text-align: center;
	background-color: white;
	margin-left: 10vw;
	margin-right: 10vw;
}

footer a{
	text-decoration: none;
}
