@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
	font-family: "Alan Sans", sans-serif;
	background-color: aquamarine;
}

body, html {
    width: 99%;
    height: 99%; /* Define a altura total da janela de visualização, se necessário */
}

.flex-container{
	display: flex;
	flex-direction: row;
	overflow: hidden;
	margin-left: 10vw;
	margin-right: 10vw;
}

#title{
	width: 18vw;
}

#title h1 a{
	text-decoration: none;
	color: black;
}

#nav{
	display: block;
	align-content: space-around;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 10px;
	margin-left: 27vw;
	height: 48px;
	border-style: dashed;
	border-color: cadetblue;
	background-color: white;
}

#nav a{
	text-decoration: none;
	color: blue;
}

main{
	background-color: white;
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 15px;
	border-radius: 10px;
	border-style: dashed;
	border-color: cadetblue;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

main a{
	color:blue;
}

main h1{
	margin-bottom: 0px;
}

footer{
	text-align: center;
	background-color: white;
	margin-left: 10vw;
	margin-right: 10vw;
	border-radius: 10px;
	border-style: dashed;
	border-color: cadetblue;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

footer a{
	text-decoration: none;
	color: blue;
}

/* Style tab links */
.tablink {
  background-color: cadetblue;
  color: white;
  float: left;
  border-style: dashed;
  border-color: white;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 14px;
  font-size: 17px;
  width: 14%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  padding: 10px 20px;
  height: 100%;
  margin-top: 5vw;
	border-radius: 10px;
	border-style: dashed;
	border-color: cadetblue;
	background-color: white;
}

#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}

#text{
	padding: 1vw;
}

#recent_activity{
	border-style: solid;
	border-color: cadetblue;
	margin: 4px;
	width: 50vw;
}

#recent_activity h4{
	background-color: cadetblue;
	color: aquamarine;
	margin-top: 0;
	padding: 6px;
}

#sidenav{
	border-style: solid;
	border-color: cadetblue;
	grid-area: sidenav;
	grid-row-start: 1;
	grid-row-end: 3;
	margin: 4px;
	width: 18vw;
}

#sidenav h4{
	background-color: cadetblue;
	color: aquamarine;
	margin-top: 0;
	padding: 6px;
}
